option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-99d3f7fe"
    Subnets: "subnet-707e895d, subnet-89cd6bc0"
    ELBSubnets: "subnet-707e895d, subnet-89cd6bc0"
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "TCP:8080"
  aws:elasticbeanstalk:environment:
    EnvironmentType: "LoadBalanced"
  aws:elb:listener:80:
    ListenerEnabled: "false"
  aws:elb:listener:8080:
    ListenerProtocol: "TCP"
    InstanceProtocol: "TCP"
    InstancePort: "8080"
