{
  "option_settings": [{
    "namespace": "aws:autoscaling:launchconfiguration",
    "option_name": "EC2KeyName",
    "value": "ga-learning-platform"
  }, {
    "namespace": "aws:autoscaling:launchconfiguration",
    "option_name": "InstanceType",
    "value": "t2.nano"
  }, {
    "namespace": "aws:autoscaling:launchconfiguration",
    "option_name": "SecurityGroups",
    "value": {
      "Ref": "AWSEBSecurityGroup"
    }
  }, {
    "namespace": "aws:ec2:vpc",
    "option_name": "VPCId",
    "value": "vpc-99d3f7fe"
  }, {
    "namespace": "aws:ec2:vpc",
    "option_name": "Subnets",
    "value": "subnet-707e895d, subnet-89cd6bc0"
  }, {
    "namespace": "aws:ec2:vpc",
    "option_name": "ELBSubnets",
    "value": "subnet-707e895d, subnet-89cd6bc0"
  }, {
    "namespace": "aws:ec2:vpc",
    "option_name": "AssociatePublicIpAddress",
    "value": "true"
  }, {
    "namespace": "aws:elasticbeanstalk:application",
    "option_name": "Application Healthcheck URL",
    "value": "TCP:8080"
  }, {
    "namespace": "aws:elasticbeanstalk:environment",
    "option_name": "EnvironmentType",
    "value": "SingleInstance"
  }, {
    "namespace": "aws:elasticbeanstalk:hostmanager",
    "option_name": "LogPublicationControl",
    "value": "true"
  }],
  "Resources": {
    "AWSEBSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "SecurityGroupIngress": [{
          "IpProtocol": "tcp",
          "FromPort": "8080",
          "ToPort": "8080",
          "CidrIp": "0.0.0.0/0"
        }]
      }
    }
  }
}
