option_settings:
  aws:autoscaling:launchconfiguration:
    EC2KeyName: "ga-learning-platform"
    InstanceType: "t2.nano"
    SecurityGroups: { "Ref" : "AWSEBSecurityGroup" }
  aws:ec2:vpc:
    VPCId: "vpc-99d3f7fe"
    Subnets: "subnet-707e895d, subnet-89cd6bc0"
    ELBSubnets: "subnet-707e895d, subnet-89cd6bc0"
    AssociatePublicIpAddress: "true"
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "TCP:8080"
  aws:elasticbeanstalk:environment:
    EnvironmentType: "SingleInstance"
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: "true"

Resources:
  "AWSEBSecurityGroup":
    Type: "AWS::EC2::SecurityGroup"
    Properties:
      SecurityGroupIngress:
        - IpProtocol: "tcp"
          FromPort: "8080"
          ToPort: "8080"
          CidrIp: "0.0.0.0/0"
