option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-99d3f7fe"
    Subnets: "subnet-707e895d, subnet-89cd6bc0"
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "TCP:8080"
  aws:elasticbeanstalk:application:environment:
    HUBOT_SEMAPHOREAPP_DEPLOY: "1"
    HUBOT_SEMAPHOREAPP_AUTH_TOKEN: "r23a1a8-nTEDxnaHqxxg"
    HUBOT_SLACK_TOKEN: "xoxb-88461597889-GQXQ1lPuPMZcjkeBWFFJ8aqTQ"
    HUBOT_AUTH_ADMIN: "U2LDK2VGR"
    HUBOT_SEMAPHOREAPP_NOTIFY_RULES: "deploys:master"
    HUBOT_SEMAPHOREAPP_TRIGGER: "deploy"
    REDIS_URL: "redis://redis:6379"
  aws:elasticbeanstalk:environment:
    EnvironmentType: "LoadBalanced"
  aws:elb:listener:80:
    ListenerEnabled: "false"
  aws:elb:listener:8080:
    ListenerProtocol: "HTTP"
    InstanceProtocol: "HTTP"
    InstancePort: "8080"
